h1{
  text-align: center;
  font-family: arial;
}
div{
  border-style: solid;
  border-color: #000;
  border-width: thick;
  border-radius: 200px;
  margin: 50px;
  height: 200px;
  width: 200px;
  text-align: center;
  align-items: center;
  display: inline-block;
}
